<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <%- include('./partials/nav-bar.ejs') %>

    <div style="text-align: center; margin-top: 5%;">
        <h1><%= title %></h1>
    </div>

    <div style="margin-bottom: 10px;">
        <a href="/stores/add">
            <button style="font-size: 15px; border-radius: 8%; background-color:cornflowerblue; padding: 10px; margin-bottom: 1%;">ADD STORE</button>
        </a>
    </div>

    <div>
        <table border="1" style="width: 100%;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type Store</th>
                    <th>Information</th>
                    <th>Location</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                <% dataStores.forEach((element, idx) => { %>
                    <tr style="background-color: silver;">
                        <td><%= element.name %></td>
                        <td><%= element.type %></td>
                        <td><%= element.information %></td>
                        <td><%= element.location %></td>
                        <td style="text-align: center;">
                            <a style="text-decoration: none; margin-right: 10px;" href="/stores/edit/<%= element.id %>">Edit</a> 
                            <a style="text-decoration: none; margin-right: 10px;" href="/stores/delete/<%= element.id %>">Delete</a>
                            <a style="text-decoration: none;" href="/stores/postEvent">Post Event</a></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>

</body>
</html>